<div class="container">
<h2>Tarefas</h2>
{{#each allTask}}
    <li class="check-true">
        {{this.name}}
        <form action="/update" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <input id="checkbox" value="{{this.conclusaotask}}" type="checkbox" {{#if this.conclusaotask}} checked {{/if}} onchange="updateTask(this)">

        </form>

        <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">Deletar</button>
        </form>
    </li>
    {{/each}}
<br>
<hr>
<br>
<form action="/add" method="POST" id="todoForm">
    <p>Adicionar tarefa</p>
    <input type="text" name="tarefa" placeholder="Adicionar nova tarefa...">
    <button type="submit">Adicionar</button>
</form>

</div>